*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.opt
*.byte
*.native
*.output

# Generated
lexer.ml
parser.mli
parser.ml
mulexer.ml
muparser.mli
muparser.ml
functory.mli
functory.ml
src/smt/z3wrapper.ml
version.ml
.depend
config.log
config.status
configure
# Makefile
autom4te.cache
doc/archi.pdf
doc/ocamldoc/latex
doc/ocamldoc/*.html
doc/ocamldoc/style.css

#Oasis generated
_build/
setup.*
_oasis
AUTHORS.txt
INSTALL.txt
README.txt
myocamlbuild.ml
_tags
**/META
**/*.mldylib
**/*.mllib

# Temporary files
*~
\#*\#
.\#*
