*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.opt
*.byte
*.output
*.dot*

# Generated
lexer.ml
parser.mli
parser.ml
mulexer.ml
muparser.mli
muparser.ml
functory.mli
functory.ml
smt/z3wrapper.ml
version.ml
.depend
config.log
config.status
configure
Makefile
autom4te.cache
doc/archi.pdf
doc/ocamldoc/latex
doc/ocamldoc/*.html
doc/ocamldoc/style.css

# Temporary files
*~
\#*\#
.\#*
.DS_Store
