body{
    color: black;
    background: #DDDAEC;
    font-family: sans-serif, Verdana, Arial, Helvetica; 
    font-size: 0.8em;
}

*{ margin:0; padding:0 }

#menu a:link, #menu-right a:link  { color: #7a5adb; text-decoration: none; }
#menu a:visited, #menu-right a:visited { color: #5a3abb; text-decoration: none; }
#menu a:hover, #menu-right a:hover { color: #7a5adb; text-decoration: underline; }
#menu a:active, #menu-right a:active { color: #7a5adb; text-decoration: underline; }


th a:link { color: #EEEEFF; text-decoration: none; }
th a:visited { color: #EEEEFF; text-decoration: none; }
th a:hover { color: #EEEEFF; text-decoration: underline; }
th a:active { color: #EEEEFF; text-decoration: underline; }






a img {border:none; text-decoration:none; vertical-align:text-bottom;}

li {margin-bottom: 5px;}
ol,ul {margin-top: 5px;}
ul ul li {
    font-size: 0.8em;
    margin-left:2.3em;
    line-height:1.0em;
}

#menu-banner, #banner, #menu-banner-right {
    background-color: #45347C;
    color: white;
    height: 4em;
}

#menu-banner {
    display: block;
    position: fixed;
    width: 10em;
    left: 0px;  
}

#menu-banner-right {
    display: block;
    position: fixed;
    width: 15em;
    right: 0px;
    top: 0;
}

#banner {
    margin-left:10em;
}

#banner h1 {
    vertical-align: middle;
    display:inline-block;
    padding: 0.3em;
    padding-left: 0;
}

#menu-banner img {
    float: right;
    vertical-align: middle;
    display:inline-block;
    padding: 0.3em;
    width: 3.1em;
    height: 3.1em;
    padding-right: 1em;
}

#menu, #menu-right {	
    font-size: 1.0em;
    font-weight: bold;
    font-family: sans-serif, Verdana, Arial, Helvetica;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    line-height:1.6em;
    top: 4em;
}

#menu {
    display: block;
    position: fixed;
    padding-left: 2.0em;
    width: 10em;
    left: 0px;
}


#menu-right {
    position: absolute;
    padding-left: 2.0em;
    width: 12em;
    right: 0px;
}

#menu-right h {
    display: inline-block;
    margin-left: -1.5em;
}

#menu-right img {
    width: 3em;
}

#menu-right table {
    text-align: left;
    margin-left: -1.5em;
    line-height: 1.1em;
}

#content {
    background-color: white;
    display: block;
    margin-left:10em;
    margin-right:15em;
}

#content  p, #content h2, #content h3 {
    padding-left: 15px;
    padding-right: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#content h2 {
    padding-top: 30px;
}

#content h3 {
    font-size: 1.1em;
    color: #5a3acb;
    font-weight: bold;
}

#content p.note {
    padding: 0.5em;
    padding-left: 0.8em;
    margin: 15px;
    background-color: lightblue;
}

.code {
    padding: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: block;
    background-color: #EEEEFF;
    font-family: monospace, "Courier New";
    color: #0000c8;
    font-size: 1.0em;
}

.incode {
    color: black;
}


.tt {
    font-family: monospace, "Courier New";
}


.bench {
    font-family: monospace, "Courier New";
    font-size: 1.0em;
    text-align: left;
}

td, th {
    padding-left: 5px;
    padding-right: 5px;
}


th {
    background-color: #7A5ADA;
    color: #EEEEFF;
    vertical-align: top;
}


tr:nth-child(even) {
    background-color: #EEEEFF;
}

tr:nth-child(odd) {
    background-color: #DDDAEC;
}

#contents table {
    empty-cells: hide;
    text-align: center;
    margin: auto;
    min-width: 500px;
}
